.App {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.semaforo-container {
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  padding: 8px;
  width: 300px;
}

.circle {
  background-color: gray;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
